{% extends 'base.html' %}

{% block titulo %}
HomeCursos Cursos online
{% endblock %}

{% block content %}
<div class="py-12">
    <h1>Essa é o detalhe do curso: {{ object.titulo }}</h1>
    <p>{{ object }}</p>
    <p>{{ object.descricao }}</p>
    <p>Visualizações: {{ object.visualizacoes }}
    </p>
    <img src="{{ object.thumb.url }}">
        <h2>Episódios</h2>
        {% for episodio in object.episodios.all %}
        <a href="{{ episodio.video }}">
            <p>Episódio {{ forloop.counter}}: {{ episodio.titulo}}</p>
        </a>
        {% endfor %}

</div>

<div class="py-10">
    <h2>Filme Relacionados</h2>
    {% for curso in cursos_relacionados %}
    <p>
        <a href="{% url 'curso:detalhescurso' curso.pk %}">
            {{ curso.titulo }}
        </a>
    </p>
    {% endfor %}
</div>
{% endblock %}